FeatureAmp
Base
GUI
ChangeListener
PlaylistMenu
Skins
Dark
Playlist
PlaylistContextMenu
TagEditor
PlaylistTabs
LoadFolder
SaveAndLoadPlaylist
PlaylistControl
ShuffleRepeat
RemoveTrack
ClearPlaylist
ReorderPlaylist
QueueTrack
MultiplePlaylists
ShowCover
VolumeControl
Time
ShowTime
ProgressBar
FileSupport
Ogg
